@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");

/*Colors */

:root {
  --Light-red-work: hsl(15, 100%, 70%);
  --Soft-blue--play: hsl(195, 74%, 62%);
  --Light-red-study-: hsl(348, 100%, 68%);
  --Lime-green-exercise: hsl(145, 58%, 55%);
  --Violet-social: hsl(264, 64%, 52%);
  --Soft-orange-self-care: hsl(43, 84%, 65%);
  --Very-dark-blue: hsl(226, 43%, 10%);
  --Dark-blue: hsl(235, 46%, 20%);
  --Desaturated-blue: hsl(235, 45%, 61%);
  --Pale-Blue: hsl(236, 100%, 87%);
}

* {
  border: 0;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Rubik", sans-serif;
}

/*Main*/

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

/*Main*/

main {
  margin: auto 0;
  border: 2px solid black;
  width: 90%;
  padding: 20px;
  background-color: var(--Very-dark-blue);
}

/* User Perfil */

.perfil-container {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--Desaturated-blue);
  color: white;
  border-radius: 20px;
  padding: 10px;
  padding-bottom: 30px;
  z-index: 1;
}

.user-name-container {
  margin-left: -100px;
}
.perfil-photo > img {
  margin-top: 40px;
  width: 40%;
  border: #fff 5px solid;
  border-radius: 100%;
}

.user-name-container > p {
  color: var(--Pale-Blue);
  margin-bottom: 5px;
}

.user-name {
  font-size: 28px;
  font-weight: bold;
}

.time-opt {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: var(--Dark-blue);
  padding: 10px;
  height: 80px;
  margin-top: -14px;
  color: #fff;
  border-radius: 0px 0px 20px 20px;
}

/* firts floor*/

.subject-item {
  background-color: var(--Dark-blue);
  border-radius: 20px;
  padding: 30px;
  margin-top: 35px;
}

/*Work*/
.img-work {
  position: absolute;
  margin-top: -30px;
  margin-left: 1px;
  background-color: var(--Light-red-work);
  border-radius: 20px;
  width: 84%;
}

.img-work > img {
  margin-left: 500px;
}

#work {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative; /* Adicionando position relative */
}

#work > p {
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
  font-weight: bold;
}

#work-time {
  font-size: 35px;
}

#last-week-work {
  color: var(--Pale-Blue);
}

/*Play*/
.img-play {
  position: absolute;
  margin-top: 20px;
  margin-left: 1px;
  background-color: var(--Soft-blue--play);
  border-radius: 20px;
  width: 84%;
}

.img-play > img {
  margin-left: 500px;
}

#play {
  margin-top: 50px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative; /* Adicionando position relative */
}

#play > p {
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
  font-weight: bold;
}

#play-time {
  font-size: 35px;
}

#last-week-play {
  color: var(--Pale-Blue);
}

/*Study*/
.img-study {
  position: absolute;
  margin-top: 20px;
  margin-left: 1px;
  background-color: var(--Light-red-study-);
  border-radius: 20px;
  width: 84%;
}

.img-study > img {
  margin-left: 500px;
}

#study {
  margin-top: 50px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative; /* Adicionando position relative */
}

#study > p {
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
  font-weight: bold;
}

#study-time {
  font-size: 35px;
}

#last-week-study {
  color: var(--Pale-Blue);
}

/* 2 floor */
/*Exercise*/
.img-exercice {
  position: absolute;
  margin-top: -30px;
  margin-left: 1px;
  background-color: var(--Lime-green-exercise);
  border-radius: 20px;
  width: 84%;
}

.img-exercice > img {
  margin-left: 500px;
}

#exercice {
  margin-top: 50px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative; /* Adicionando position relative */
}

#exercice > p {
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
  font-weight: bold;
}

#exercice-time {
  font-size: 35px;
}

#last-week-exercice {
  color: var(--Pale-Blue);
}

/*Social*/
.img-social {
  position: absolute;
  margin-top: 25px;
  margin-left: 1px;
  background-color: var(--Violet-social);
  border-radius: 20px;
  width: 84%;
}

.img-social > img {
  margin-left: 500px;
}

#social {
  margin-top: 50px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative; /* Adicionando position relative */
}

#social > p {
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
  font-weight: bold;
}

#social-time {
  font-size: 35px;
}

#last-week-social {
  color: var(--Pale-Blue);
}

/*selfcare*/
.img-selfcare {
  position: absolute;
  margin-top: 25px;
  margin-left: 1px;
  background-color: var(--Soft-orange-self-care);
  border-radius: 20px;
  width: 84%;
}

.img-selfcare > img {
  margin-left: 500px;
}

#selfcare {
  margin-top: 50px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative; /* Adicionando position relative */
}

#selfcare > p {
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
  font-weight: bold;
}

#selfcare-time {
  font-size: 35px;
}

#last-week-selfcare {
  color: var(--Pale-Blue);
}
