/* desktop */
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;600&display=swap");

:root {
  --Desaturated-Red: #ce9797;
  --Soft-Red: #f96262;
  --Dark-Grayish-Red: #403b3b;

  /* ### Gradients

  - Linear, 135deg, from hsl(0, 0%, 100%), to hsl(0, 100%, 98%);
  - Linear, 135deg, from hsl(0, 80%, 86%), to hsl(0, 74%, 74%); */
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

body {
  background-color: lightblue;
  font-family: "Josefin Sans", sans-serif;
  background-color: white;
}

main {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.img-holder {
  grid-column: 2;
}

.titlle {
  grid-column: 1;
  margin-top: 15px;
  margin-bottom: 10px;
  font-size: 50px;
  padding: 15px;
}

.we-re {
  color: #ce9797;
  letter-spacing: 10px;
  font-family: "Josefin Sans", sans-serif;
  font-weight: 300;
}

.coming {
  font-weight: 600;
  letter-spacing: 10px;
  margin-left: -35px;
  font-family: "Josefin Sans", sans-serif;
}

.soon {
  font-weight: 600;
  letter-spacing: 10px;
  font-family: "Josefin Sans", sans-serif;
}

.info {
  grid-column: 1;
  margin-top: 10px;
  font-size: 16px;
  width: 390px;
  padding: 15px;
  font-weight: 400;
  font-family: "Josefin Sans", sans-serif;
  color: #ce9797;
  text-align: center;
}

.user-info {
  grid-column: 1;
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.email-info {
  grid-column: 1;
  outline-color: #ce9797;
  padding: 5px;
  border: solid 1px #ce9797;
  color: #ce9797;
  border-color: #ce9797;
  margin-top: 10px;
  border-radius: 20px;
  width: 300px;
  height: 45px;
  margin-top: -1px;
}

input.email-info::placeholder {
  color: #ce9797; /* Substitua pela cor desejada */
}

.arrow {
  width: 60px;
  height: 45px;
  border-radius: 20px;
  margin-left: -60px;
  padding: 14px;
  background-color: #ce9797;
}

.arrow:hover {
  cursor: pointer;
  width: 65px;
  height: 55px;
  border-radius: 20px;
  margin-left: -60px;
  padding: 15px;
  background-color: #e9b1b1ec;
  transition: 1s;
}
