:root {
  /*colors*/
  --Very-Dark-Grayish-Blue: #48556a;
  --Desaturated-Dark-Blue: #6d7f97;
  --Grayish-Blue: #9eafc2;
  --Light-Grayish-Blue: #ecf2f8;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  font-family: "Manrope", sans-serif;
}

main {
  margin-top: 100px;
  width: 60%;
  height: 40vh;
  display: flex;
  justify-content: space-between;
  padding: 2em;
  border-radius: 20px;
  border: 1px solid black;
  background-color: var(--Light-Grayish-Blue);
  box-shadow: 5px 5px 4px rgba(0, 0, 0, 0.534);
}

/* Firts Section */

.img-cont {
  background-image: url(/Frontend/with-js/article-preview-component-master/images/drawers.jpg);
  width: 100%;
  max-height: 55vh;
  background-size: contain;
  background-repeat: no-repeat;
}

/*Second Section*/

.info-cont {
  margin-top: 20px;
  margin-left: 50px;
}

.info-cont > h2 {
  color: var(--Very-Dark-Grayish-Blue);
  font-weight: 700;
}

.info-cont > p {
  color: var(--Desaturated-Dark-Blue);
  font-weight: 500;
  width: 80%;
}

/*Third Section*/

.share-cont {
  margin-left: 50px;
  margin-top: 20px;
  justify-content: space-between;
  align-items: center;
}

/*Third Section*/

.share-cont {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.img-item > img {
  width: 40%;
  border-radius: 100%;
}

.user-info {
  display: flex;
  flex-direction: column;
  width: 30%;
  margin-left: -130px;
}

.name {
  color: var(--Very-Dark-Grayish-Blue);
  font-weight: 700;
}

.date {
  color: var(--Grayish-Blue);
  font-weight: 500;
}

.icon {
  padding: 1em;
}

/*sahre on */
.shareON {
  width: 10%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--Very-Dark-Grayish-Blue);
  color: var(--Light-Grayish-Blue);
  padding: 0.5em;
  border-radius: 10px;
  position: absolute;
  right: 0;
  margin-right: 270px;
  margin-top: 130px;
}

.icon:hover,
#shareOff {
  cursor: pointer;
}
